body {
    min-height: 100vh;
}

.about-hero {
    border-bottom: 0.5px solid black;
    border-right: 0.5px solid black;
    border-bottom-right-radius: 8px;
    gap: 7rem;
    margin-bottom: 4rem;
}

.about-hero-content {
    gap: 1.5rem;
}

.about-hero-title {
    font-size: 4rem;
    color: var(--clr-black);
}

.about-hero-description {
    text-align: justify;
    font-size: 1rem;
    color: var(--clr-dark);
    max-width: 600px;
}

.about-hero-image {
    cursor: default!important;
    transform: none!important;
    resize: none;
    border-radius: 8px;
    object-fit: fill;
}

.about-section {
    padding: 4rem 2rem;
    background-color: var(--clr-white);
}

.about-images {
    gap: 1.5rem;
    margin-bottom: 3rem;
}

.about-image {
    width: 300px;
    height: 200px;
    border-radius: 8px;
    object-fit: cover;
}

.about-info-container {
    margin: 2rem;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 3rem;
}

.about-info-part {
    line-height: 2rem;
    gap: 1.5rem;
}

.info {
    color: var(--clr-dark);
}

.about-info-title {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--clr-black);
}

.about-info-pie-chart {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.about-facts-section {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.about-facts-content {
    color: var(--clr-dark)!important;
    border: 1px solid white;
    border-radius: 5px;
    padding: 2rem;
    background: hsla(0, 0%, 52%, 1);
    background: linear-gradient(90deg, hsla(0, 0%, 52%, 1) 0%, hsla(0, 0%, 69%, 1) 50%, hsla(0, 0%, 100%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(0, 0%, 52%, 1) 0%, hsla(0, 0%, 69%, 1) 50%, hsla(0, 0%, 100%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(0, 0%, 52%, 1) 0%, hsla(0, 0%, 69%, 1) 50%, hsla(0, 0%, 100%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#858585", endColorstr="#B1B1B1", GradientType=1 );
}

.about-facts-content:hover {
    border: none;
    transform: translate3d(0,-5px,30px);
    box-shadow: 0 0 30px rgb(215, 215, 215); 
}



.about-facts-list {
    justify-content: left;
    text-align: left;
    align-items: left;
    line-height: 1.5rem;
    list-style-type: none;
    padding-left: 0;
    color: var(--clr-dark);

}

.about-fact {
    color: var(--clr-white);
    text-align: center;
    padding: 1rem;
    font-size: 1.2rem;

}

.about-skills-container {
    gap: 1.5rem;
}

.about-skills-title {
    font-size: 2rem;
    font-weight: 600;
    color: var(--clr-black);
}

.about-skills-graph {
    width: 100%;
    max-width: 800px;
    height: 300px;
    background-color: var(--clr-white);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
  /* BAR GRAPH */

  .x {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1040px;
  }
  
  /* Column */
  .col-12 {
    width: 100%;
    flex: 0 0 100%;
  }
  
  /* Alignment */
  .align-r {
    text-align: right !important;
  }
  
  /* No Padding Bottom */
  
  /* Section Styling */
  section#bar-chart {
    padding: 6.4rem 3.2rem;
  }
  
  section.dark {
    background: #fafafa;
    border-bottom: #dddddd solid 1px;
  }
  
  section.nopadb {
    padding-bottom: 0 !important;
  }
  

#bar-chart {
    display: block;
  }
  .bar-chart {
    list-style: none;
    height: 450px;
    position: relative;
    background: url(../image/axis.png) repeat-x;
    padding: 0;
    margin: 0px;
  }
  .bar-chart li {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: inline-block;
    width: 16%;
    height: 100%;
    text-align: center;
    color: var(--clr-white);
    position: relative;
    margin: 0 1.8% 0 0;
    vertical-align: bottom;
  }
  .bar-chart li:nth-child(6n) {
    margin-right: 0;
  }
  .bar-chart .percent {
    position: absolute;
    bottom: 50px;
    font-size: 4.5rem;
    width: 100%;
    line-height: 1em;
  }
  .bar-chart .percent span {
    font-size: 2.4rem;
    padding-left: 3px;
  }
  .bar-chart .skill {
    position: absolute;
    bottom: 20px;
    width: 100%;
  }

  .bar-chart .aqua {
    background: hsla(171, 87%, 67%, 1);
    background: linear-gradient(90deg, hsla(171, 87%, 67%, 1) 0%, hsla(236, 100%, 72%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(171, 87%, 67%, 1) 0%, hsla(236, 100%, 72%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(171, 87%, 67%, 1) 0%, hsla(236, 100%, 72%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#61F4DE", endColorstr="#6E78FF", GradientType=1 );
  }
  .bar-chart .pink {
    background: hsla(0, 100%, 67%, 1);
    background: linear-gradient(90deg, hsla(0, 100%, 67%, 1) 0%, hsla(0, 100%, 89%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(0, 100%, 67%, 1) 0%, hsla(0, 100%, 89%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(0, 100%, 67%, 1) 0%, hsla(0, 100%, 89%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FF5858", endColorstr="#FFC8C8", GradientType=1 );
  }
  .bar-chart .yellow {
    background: hsla(42, 93%, 57%, 1);
    background: linear-gradient(90deg, hsla(42, 93%, 57%, 1) 0%, hsla(358, 78%, 62%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(42, 93%, 57%, 1) 0%, hsla(358, 78%, 62%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(42, 93%, 57%, 1) 0%, hsla(358, 78%, 62%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F7BA2C", endColorstr="#EA5459", GradientType=1 );
  }
  .bar-chart .brown {
    background: hsla(16, 100%, 76%, 1);
    background: linear-gradient(90deg, hsla(16, 100%, 76%, 1) 0%, hsla(49, 100%, 81%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(16, 100%, 76%, 1) 0%, hsla(49, 100%, 81%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(16, 100%, 76%, 1) 0%, hsla(49, 100%, 81%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFA585", endColorstr="#FFEDA0", GradientType=1 );
  }
  .bar-chart .red {
    background: hsla(318, 44%, 51%, 1);
    background: linear-gradient(90deg, hsla(318, 44%, 51%, 1) 0%, hsla(347, 94%, 48%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(318, 44%, 51%, 1) 0%, hsla(347, 94%, 48%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(318, 44%, 51%, 1) 0%, hsla(347, 94%, 48%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#B94C98", endColorstr="#F0073B", GradientType=1 );
  }
  .bar-chart li.axis {
    width: 8%;
    border: 0;
    border-right: #DDD solid 1px;
    height: 450px;
    background: #fafafa;
    -webkit-box-shadow: inset 0 0 0 0 #ffffff;
    -moz-box-shadow: inset 0 0 0 0 #ffffff;
    box-shadow: inset 0 0 0 0 #ffffff;
  }
  .bar-chart .label {
    color: #757575;
    margin: -0.6em 0 88px 0;
    font-size: 14px;
    font-weight: bold;
  }