.container {
    margin: auto;
    max-width: 1366px;
    gap: 1.5rem;
    text-align: center;
    padding: 3rem;
}

@media screen and (width < 55em){
    .container {
        margin-inline: 0;
    }
}
